WCF_Admi/WCF_Admi/Service References/Proxy/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfarticulos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="articulos" nillable="true" type="tns:articulos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfarticulos" nillable="true" type="tns:ArrayOfarticulos" />
  <xs:complexType name="articulos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="articulos" nillable="true" type="tns:articulos" />
</xs:schema>